.user-card img {
    width: 200px;
    height: 200px;
    border-image-repeat: 100%;
    background-color: rgb(190, 77, 77);
    
}

.user-card {
    border: 5px solid;
    margin-bottom: 15px;
    
    
   
}

.title {
    text-align: center;
    font-size: large;
}

.age {
    text-align: center;
    font-size: large;
    color: black;
    background:cyan;
}

.country {
    text-align: center;
    font-size: large;
    color:black;
   
}
